/* FONDO GENERAL */
.reserva-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #4facfe, #140375); /* 🔥 azul moderno */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TÍTULO ARRIBA */
.reserva-container h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* TARJETA */
.reserva-form {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* LABELS */
.reserva-form label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

/* INPUTS */
.reserva-form input,
.reserva-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

/* EFECTO FOCUS */
.reserva-form input:focus,
.reserva-form select:focus {
  outline: none;
  border-color: #2a5298;
  box-shadow: 0 0 5px rgba(42, 82, 152, 0.3);
}

/* BOTÓN */
.reserva-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #4a90e2, #357abd);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* HOVER BOTÓN */
.reserva-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}